PROJECT_ID = bigquery_project_id

ORIGINAL_DATASET = original_dataset_name
ORIGINAL_TABLE = original_table_name

DATASET_ID = new_dataset_name
REC_TABLE_ID = new_table_name

FRED_API_KEY = your_fred_api_key